html{
  width: 400px;
  height: 600px;
}

body {
  margin: 0;
}

.clock {
  width: 300px;
  margin: 0 100px;
  text-align: center;
}

.clock, .welcome-message{
  height: 15vh;
  font-size: 40px;
}

.clock div {
  float: left;
  margin: 20px 0;
}

.tasks{
  width: 400px;
  height: 85vh;
  display: grid;
  grid-template-columns: auto auto;
}

.task{
  text-align: center;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.task.selected{
  background: #80808026;
}

.task:hover{
  background: #80808026;
  cursor: pointer;
}

.welcome-message {

}

.welcome-message div{
  float: left;
  width: 280px;
  margin: 20px 60px;
}
